.navBarSection {
   
    .flex {
      display: flex;
      justify-content: space-between;
      align-items: center;
     
    }
  
    .header {
      position: fixed;
      display: flex;
      align-items: center;
      justify-content: space-between;
      background: grey;
      width: 100%;
      padding: 1rem;
      z-index: 1000;
    
     
  
      ul {
        list-style-type: none;
     
           
             justify-content:flex-end;
             padding: 0 30px;
      }
  
      li {
        display: inline;
        width: 100px;
      }
  
      a {
        text-decoration: none;
        color: white;
      }
   
  
      .btn {
        padding: 0.4rem 1.5rem;
        background-color: rgb(255, 123, 0);
        border:none;
        outline:none;
        border-radius: 3rem;
        cursor: pointer;
      }
      .loginBtn{
        padding: 0.4rem 1.5rem;
        top: 20px;
        left: 50%;
        background: none;
       
        border:1px solid  rgb(255, 123, 0);
        
        border-radius: 3rem;
        cursor: pointer;
        
        a{
            color: white;
        }
        &:hover{
            background-color: rgb(255, 123, 0);
            a{
                color: white;
            };
      }
    }
      .logoDiv {
        margin-left: 6%;
        .logo {
          color:  white;
          font-weight: 500;
          cursor: pointer;
          align-items: center;
          justify-content: center;
    
          .icon {
            color:  rgb(255, 123, 0);
            font-size: 25px;
            margin-right: 10px;
          }
        }
    
        a {
          text-decoration: none;
        }
      }
   
      @media screen and (max-width: 760px) {
        .navBar {
          background: rgb(234, 234, 234);
          position: absolute;
          height: max-content;
          padding: 1rem;
          width: 100%;
          top: 0;
          left: -500%;
          box-shadow: 0 2px 4px rgb(213, 207, 200);
          transition: 2.5s ease;
          z-index: 1000;
    
          .navLists {
            flex-direction: column;
            align-items: center;
            width: 100%;
            margin: auto;
            
          .navItem {
              padding: 1rem 0;
              text-align: center;
      
              .navLink {
                padding: 1rem 0;
                font-size: 0.9rem;
                font-weight: 600;
      
                &:hover {
                  color: rgb(0, 255, 208);
                }
              }
            }
      
            .headerBtns {
              flex-direction: column;
              align-items: center;
      
              .btn {
                margin-top: 1rem; 
                a{
                    font-weight: 600;
                    &:hover{
                        color: white;
                    }
                }
              }
              .loginBtn{
                background-color: none;
                border:1px solid  rgb(255, 123, 0);
                a{
                    color: rgb(255, 123, 0)
                }
                &:hover{
                    background-color: rgb(255, 123, 0);
                    a{
                        color: white;
                    }
                }
              }
            }
          }
    
          .closeNavbar {
              position: absolute;
              top: 1rem;
              right: 1.5rem;
              color: rgb(255, 123, 0);
              &:hover .icon{
                  color: rgb(0, 255, 208);
                  
              }
  
          }
          
         
        };
        
     
    
      
      .activeNavbar{
        left: 0;
      }
      }
      .toggleNavbar{
        .icon{
          font-size:25px;
          color: white;
          &:hover{
            color:orange
          }
        }
      }
  
    }
  
.activeHeader{
  background: rgb(43, 41, 41);
  box-shadow: 0 2px 8px 2px rgb(178,178,178);
}
  
  

  }
  @media sreen and(min-width:769px){
    .navBarSection{
       .toggleNavbar{
        display: none;
       }
       .closeNavbar{
        display: none;
       }
       .header{
        padding: 1.5rem 2rem;
        .navBar{
          .navLists{
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: row;
            .navItem{
              .navLink{
                color: white;
                padding: 0.45rem;
                font-size: 0.9rem;
                font-weight: 400;
                &:hover{
                  color: orange;
                }
              }
            }
            .btn{
              margin-left: 1rem;
              a{
                color: white;
                font-weight: 500;
              }
            }
            .loginBtn{
              background: none;
              border: 1px solid orange;
              &:hover{
                background: orange;
                a{
                  color: white;
                }
              }
            }
          }
        }
       }
    }

}
@media sreen and(min-width:960px){

     .header{
     .navBar{
      .navLists{
        .navItem{
          padding: 0.7rem;
        }
      }
     }
     }
  }
  @media sreen and(min-width:1024px){

    .header{
   padding: 1rem 8.5rem !important;
    }
 }


  