.footer {
    padding: 4rem 6rem;
    background: #4d4c4c;
    color: #fff;
  }
  .top {
    display: flex;
    align-items: center;
    text-align: start;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .logo{
    color: black;
    font-weight: 500;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    .icon{
        font-size: 25px;
        color: orange;
        margin-right: 0.5rem;
    }
}
  .bottom {
    padding-top: 2rem;
    text-align: start;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .bottom div {
    display: flex;
    flex-direction: column;
  }
  .bottom h4 {
    font-size: 1.3rem;
    padding: 1rem 0 0.8rem 0;
  }
  .bottom a {
    text-decoration: none;
    color: #fafafa;
    padding-bottom: 0.4rem;
    font-size: 1.1rem;
  }
  @media screen and (max-width: 500px) {
    .footer {
      padding: 4rem 2rem;
    }
    .Footer i {
      margin: 1rem 1rem 0 0;
    }
    .bottom div {
      width: 50%;
    }
  }
  
/* .footer{
    display: flex;
    flex-direction: row;
    background: grey;
    padding: 2rem 0;
    .secContainer{
        gap: 1.5rem;
        text-align: center;
        .footerLogo{
            padding-bottom: 0.5rem;
            .logo{
                color: black;
                font-weight: 500;
                cursor: pointer;
                align-items: center;
                justify-content: center;
                .icon{
                    font-size: 25px;
                    color: orange;
                    margin-right: 0.5rem;
                }
            }
        
        }
        .socials{
            gap: 0.5rem;
            margin: auto;
            justify-content: center;
            .icon{
                font-size: 30px;
                background: orange;
                border-radius: 50%;
                padding: 8px;
                color: white;
                &:hover{
                    background: black;
                }
            }

        }
        .footerLinks{
            display: grid;
            row-gap: 0.2rem;
            .linkTitle{
                padding-bottom: 0.5rem;
                color: black;
                font-weight: 700;
            }
            li{
                &:hover{
                    transform: translateX(10px);
                    a{
                        color: orange;
                    }

                }

            }
            a, .phone, .email{
            color: rgba(81, 79, 79, 0.799);
           font-size: 13px;
           font-weight: 500;
        }

        }
    }
}
@media screen and (min-width:448px) {
    .secContainer {
        grid-template-columns: repeat(2,1fr);
        text-align: center;
        align-items: flex-start;
        .footerLinks{
            justify-content: center;
        }
    }
    
}
@media screen and (min-width:648px) {
    .secContainer {
        grid-template-columns: repeat(3,1fr);
     
    }
    
}
@media screen and (min-width:900px) {
    .secContainer {
       padding: 2rem;
       
     
    }
    
} */