.blog{
    .mainContainer{
        display: flex;
      gap:1rem; 
      .singlePost{
        gap: 2rem;
        .imgDiv{
            height: 200px;
            width: 100%;
            border-radius: 1rem;
            border: 5px solid grey;
            box-shadow: 0 2px 8px 2px rgb(89, 102, 99);
            overflow: hidden;
            &:hover{
                img{
                    transform: scale(1.1);
                    transition: 3s ease;
                }
            }
            img{
                height: 100%;
                object-fit: cover;
            }
        }
        .postDetails{
            h3{
                color: black;
                font-weight: 600;
                padding-bottom: 10px;
            }
            p{
                font-size: 13px;
                color: rgb(85, 81, 81);
                font-weight: 500;

            }
            a{
                font-size: 15px;
                color: orange;
                font-weight: 600;
                padding-top: 0.5rem;
                width: max-content;
                &:hover{
                    color: rgba(255, 228, 155, 0.437);
                    font-weight: 600;
                    .icon{
                        transform: translateX(10px);
                    }
                }

            }
        }
      } 

    }
}
/* @media screen and (min-width:884px) {
    .blog {
        grid-template-columns: repeat(2,1fr);
    }
    
} */